.title-link {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--title-back-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeges/bg-maine.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-studio-color);
  margin-bottom: 30px;
  width: 696px;
}

.title-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87; /* identical to box height, or 187% */
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--title-studio-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: navy;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}
